@using CoiniumServ.Mining.Software
@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-free">
            <div class="box-header">
                <h3 class="box-title">Mining Software</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped miners">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="hidden-xs text-center">ATI</th>
                            <th class="hidden-xs text-center">Nvidia</th>
                            <th class="hidden-xs text-center">CPU</th>
                            <th class="text-center">Algorithms</th>
                            <th class="text-center">Site</th>
                            <th class="hidden-xs text-center"><i class="fa fa-windows"></i></th>
                            <th class="hidden-xs text-center"><i class="fa fa-linux"></i></th>
                            <th class="hidden-xs text-center"><i class="fa fa-apple"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var software in Model)
                        {
                            <tr>
                                <td>@software.Name</td>
                                <td class="hidden-xs text-center link">@Html.Raw(software.Platforms.HasFlag(Platforms.Ati) ? "<span class='icon'><i class='ion ion-md-checkmark'></i></span>" : "")</td>
                                <td class="hidden-xs text-center link">@Html.Raw(software.Platforms.HasFlag(Platforms.Nvidia) ? "<span class='icon'><i class='ion ion-md-checkmark'></i></span>" : "")</td>
                                <td class="hidden-xs text-center link">@Html.Raw(software.Platforms.HasFlag(Platforms.Cpu) ? "<span class='icon'><i class='ion ion-md-checkmark'></i></span>" : "")</td>
                                <td class="text-center">
                                    @foreach (var algorithm in software.Algorithms)
                                    {
                                        @algorithm.Name@:&nbsp;
                                    }
                                </td>
                                <td class="text-center link"><a href="@software.Site" target="_blank"><span class='icon'><i class='ion ion-md-globe'></i></span></a></td>
                                <td class="hidden-xs text-center link">
                                    @if (software.Downloads.ContainsKey("windows"))
                                    {
                                        <a href="@software.Downloads["windows"]" target="_blank"><span class='icon'><i class='ion ion-md-download'></i></span></a>
                                    }
                                </td>
                                <td class="hidden-xs text-center link">
                                    @if (software.Downloads.ContainsKey("linux"))
                                    {
                                        <a href="@software.Downloads["linux"]" target="_blank"><span class='icon'><i class='ion ion-md-download'></i></span></a>
                                    }
                                </td>
                                <td class="hidden-xs text-center link">
                                    @if (software.Downloads.ContainsKey("macos"))
                                    {
                                        <a href="@software.Downloads["macos"]" target="_blank"><span class='icon'><i class='ion ion-md-download'></i></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
