@using CoiniumServ.Server.Mining.Stratum
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Models.WorkersModel>

@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-free">
            <div class="box-header">
                <h3 class="box-title">Connected workers</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden-xs" style="width: 60px;">Id</th>
                            <th style="width: 270px;">Username</th>
                            <th class="hidden-xs text-right">Difficulty</th>
                            <th class="text-right">Valid Shares</th>
                            <th class="hidden-xs text-right">Invalid Shares</th>
                            <th class="hidden-xs text-right">Software</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var worker in Model.Workers)
                        {
                            <tr>
                                <td class="hidden-xs">@worker.Id</td>
                                <td><a href="/account/username/@worker.Username" />@worker.Username</a></td>
                                <td class="hidden-xs text-right">
                                    @if (worker is IStratumMiner)
                                    {
                                        @((worker as IStratumMiner).Difficulty)
                                    }
                                    else
                                    {
                                        @:
                                    }
                                </td>
                                <td class="text-right">@worker.ValidShareCount</td>
                                <td class="hidden-xs text-right">@worker.InvalidShareCount</td>
                                <td class="hidden-xs text-right">@worker.Software @worker.SoftwareVersion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
